body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 2px black;
    padding-left: 26px;
    padding-top: 20px;
}

#container {
    display: flex;
    align-items: center;
}

#albumArt {
    width: 250px;
    vertical-align: middle;
    padding: 12px;
}

@font-face {
    font-family: 'NeutraDispTitling';
    src: url("/Users/afik_cohen/Library/Fonts/NeutraDisp Titling.otf") format("opentype");
}

@font-face {
    font-family: 'NeutraTextAlt';
    src: url("/Users/afik_cohen/Library/Fonts/NeutraText BoldAlt.otf") format("opentype");
}

#artist {
    font-family: "NeutraDispTitling";
!important;
    font-size: 70px;
}

#title {
    font-family: "NeutraTextAlt";
!important;
    font-weight: bold;
    font-size: 70px;
}

#label {
    font-size: 35px;
    font-weight: normal;
    font-style: italic;
}

.fade {
    opacity: 1;
    transition: 1s opacity;
}
