body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
    color: white;
    text-shadow: 2px 2px black;
    padding-left: 26px;
    padding-top: 20px;
}

#container {
    display: flex;
    align-items: center;
}

#albumArt {
    width: 250px;
    vertical-align: middle;
    padding: 12px;
}

#artist {
    font-family: "Neutra Display Titling";
!important;
    font-size: 65px;
}

#title {
    font-family: "Neutra Text Alt";
!important;
    font-size: 65px;
    font-weight: bold;
}

#label {
    font-size: 35px;
    font-weight: normal;
    font-style: italic;
}

.fade {
    opacity: 1;
    transition: 1s opacity;
}
